.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner{
    width: 60%;
    display: flex;
}

.banner1, .banner2{
    display: flex;
    justify-content: center;
}
.banner1 img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner2 img{
    width: 100%;
    display: flex;
    justify-content: center;
}