/* Footer.css */
.logo-h3-footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.logo-h3-footer img{
    width: 70px;
    height: 70px;
}
.logo-h3-footer h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(141, 140, 140);
    padding-left: 10px;
}
footer {
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .footer-column {
    width: 20%; /* 1/5 của màn hình */

  }
  
  .footer-column h4 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .footer-column-product{
    width: 50%;
  }
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 5px;
    color: #666;
  }
  
  .footer-column ul li:first-child {
    font-weight: bold;
  }
  