/* src/styles.css */
.registration-form, .login-form {
  max-width: 400px;
  margin: 5% auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;

}

.registration-form div, .login-form div {
  margin-bottom: 1em;
  /* display: flex;
  justify-content: center; */
}

.registration-form label, .login-form label {
  margin-bottom: .5em;
  color: #333333;
  display: block;
}

.registration-form input, .login-form input {
  border: 1px solid #CCCCCC;
  padding: .5em;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 1.2em;
}

.login-form button{
  padding: 0.7em;
  color: #ffffff;
  background-color: #9baec3;
  border: none;
  border-radius: 1.2em;
  cursor: pointer;
  width: 50%;
  font-size: 15px;
}

.login-button {
    width: 100%;
    padding: 10px 0;
    /* background-color: #333; */
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.registration-form button:hover, .login-button button:hover {
  background-color: #000000;
}

.error{
  color: red;
  font-size: 0.875em;
}
.App-title, .logo-login-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-link{
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-link button{
  background: none;
    border: none;
    color: #ded833;
    cursor: pointer;
    text-decoration: underline;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}